@model List<Practica1.Models.ViewModels.cListaSucursales>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sucursales</h2>
<br />
<br />

@if (TempData["ValorMensaje"] != null)
{
    if ((int)TempData["ValorMensaje"] == 1)
    {
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="document.location.href='@Url.Content("~/Sucursal/Index")'">&times;</button>
                        <h2 class="modal-title">Mensaje</h2>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-success">TempData["MensajeEliminado"]</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal" onclick="document.location.href='@Url.Content("~/Sucursal/Index")'">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else if ((int)TempData["ValorMensaje"] == 0)
    {
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal">&times;</button>
                        <h2 class="modal-title">Mensaje</h2>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger">TempData["MensajeEliminado"]</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    }
}
<div class="row">
    <div class="col-md-4">
        <input type="button" class="btn btn-primary w-100 btn-lg" onclick="document.location.href='@Url.Content("~/Sucursal/Create")'" value="Nueva Sucursal" />
    </div>
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Sucursal ID</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Consultar</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var fila in Model)
                {
                    <tr>
                        <td>@fila.SucursalID</td>
                        <td>@fila.Nombre</td>
                        <td>@fila.Direccion</td>
                        <td>@fila.Telefono</td>
                        <td><input type="button" value="Consultar" class="btn btn-success" onclick="document.location.href='@Url.Content("~/Sucursal/Details/" + fila.SucursalID)'" /></td>
                        <td><input type="button" value="Editar" class="btn btn-primary" onclick="document.location.href='@Url.Content("~/Sucursal/Edit/" + fila.SucursalID)'" /></td>
                        <td><input type="button" value="Eliminar" class="btn btn-danger" onclick="document.location.href='@Url.Content("~/Sucursal/Delete/" + fila.SucursalID)'" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#myModal').modal('show');
    });
</script>